footer {
    background-color: rgb(19, 191, 19);
    color: white;
    padding: 20px;
    

    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text-aling: center; */
        }

footer span{
        margin-right: 10px;
        margin-left: 10px;
       }

footer a{
        color: white;
       }

